In [3]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv')

In [5]:
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [6]:
df.isnull().sum()

Text        0
language    0
dtype: int64

In [7]:
df.columns.value_counts()

Text        1
language    1
dtype: int64

In [8]:
df['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [21]:
x=np.array(df['Text'])
y=np.array(df['language'])
cv=CountVectorizer()
x=cv.fit_transform(x)
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.33)

In [22]:
x_train.shape,x_test.shape

((14740, 277720), (7260, 277720))

In [23]:
df.shape

(22000, 2)

In [24]:
y_train.shape,y_test.shape

((14740,), (7260,))

In [33]:
model=MultinomialNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.953168044077135

In [28]:
user=input('enter a text')
data=cv.transform([user]).toarray()
output=model.predict(data)
print(output)

enter a textHola a todas
['Portugese']